body {
  background-color: rgb(43, 152, 248);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
section {
  background-color: white;
  justify-content: center;
  align-content: center;
  border-radius: 10px;
  padding: 20px 25px;
  width: 100%;
  max-width: 960px;
  display: flex;
  flex-direction: column;
  text-align: center;
  text-transform: uppercase;
  div {
    border-bottom: 0.1px solid #e1f1ff;
  }
  div:last-child {
    border-bottom: none;
  }
  .imgs {
    max-width: 100%;
    margin-bottom: 25px;
  }
  h3 {
    color: #888;
    font-weight: 600;
    letter-spacing: 1px;
  }
  ul {
    margin: 50px 0 25px;
    color: #016ff9;
    li {
      padding: 15px 0;
      font-weight: 600;
      font-size: 12px;
      letter-spacing: 1px;
      line-height: 1.5;
      border-top: 1px solid #e1f1ff;
    }
    li:last-child {
      border-bottom: 1px solid #e1f1ff;
    }
  }
  span {
    color: #016ff9;
    display: block;
    font-size: 32px;
    font-weight: 700;
  }
}
html {
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
}
.btn {
  border: 1px solid #9dd1ff;
  border-radius: 10px;
  text-decoration: none;
  color: #348efe;
  display: inline-block;
  padding: 15px 35px;
  margin: 25px 0;
  transition: background-color 200ms ease-in-out;
}
.btn {
  border: 1px solid #9dd1ff;
  color: #348efe;
  border-radius: 10px;
  text-decoration: none;
  display: inline-block;
  padding: 15px 35px;
  margin: 25px 0;
  transition: background-color 200ms ease-in-out;
}
.btn1 {
  background-color: #48aaff;
  color: white;
}
.btn:hover,
btn:focus {
  background-color: #e1f1ff;
}
.btn1:hover,
btn1:focus {
  background-color: #269aff;
}

@media (min-width: 900px) {
  section {
    flex-direction: row;
  }
  div {
    border-bottom: none;
    border-right: 1px solid #e1e1ff;
    padding: 25px 50px;
  }
  li {
    margin-bottom: 5px;
  }
  div:last-child {
    border-right: none;
  }
}
